<h1>Listing tasks<span class='create-new'><%= link_to 'New Task', new_task_path, class: 'btn-large btn-primary pull-right' %></span></h1>

<section class="task-list-wrapper">
  <div class="task-head row">
      <span class="span5">Description</span>
      <span class="span3">Category</span>
      <div class="span2">
      </div>
  </div>

  <div class="task-list">
    <% @tasks.each do |task| %>
      <div class="task-task row">
        <span class="span5"><strong><%= task.description %></strong></span>
        <span class="span3"><%= task.category.name %></span>
        <div class="controls span3">
            <span><%= link_to 'Show', task, { class: 'btn-primary btn-a' } %></span>
            <span><%= link_to 'Edit', edit_task_path(task), { class: 'btn-success btn-a' } %></span>
            <span><%= link_to 'Finished', task, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-danger btn-a' %></span>
        </div>
      </div>
    <% end %>
  </div>
</section>

<br>


