<p><strong>Create a New Task</strong></p>
<%= form_for(@tasks) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <% c = Category.all %>
    <% category_array = Category.all.map { |cat| [ cat.name, cat.id ] } %>
    <%= f.select( :category_id, options_for_select( category_array )) %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn-success' %>
  </div>
<% end %>
